# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
.venv/
venv/

# OS / Editor
.DS_Store
.idea/
.vscode/

# SQLite (falls du die DB nicht versionieren willst)
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# built
build/
dist/
builtinformation.txt
