# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Virtual environments
.venv/
venv/

# OS / Editor
.DS_Store
.idea/
.vscode/

# SQL-Lite
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# built
build/
dist/
builtinformation.txt

# standard
.env
*.env
.env.*
secrets.*
*.key
*.pem


# not finished

volume-backup-sorter-macos.spec
volume-backup-sorter-windows.spec


# todo
todo.txt
